extends base

block content
  main.main
     .forgotpassword
      h2.heading-secondary.ma-bt-lg forgot Your Password
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Forgot Password